.produk-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.produk-item a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #d36c6c;
    font-weight: bold;
}
